@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Poppins', sans-serif;
}
body {
  font-family: 'Bebas Neue', serif;
  font-weight: 400;
  font-style: normal;
}

.banner-img {
  mask-image: linear-gradient(to right, transparent, black 75%);
  --webkit-mask-image: linear-gradient(to right, transparent, black 75%);
}
.div::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width: 768px) {
  .div1::-webkit-scrollbar {
    display: none;
  }
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.spans span:nth-child(1) {
  animation: blink 600ms linear -600ms infinite alternate;
}
.spans span:nth-child(2) {
  animation: blink 600ms linear -400ms infinite alternate;
}
.spans span:nth-child(3) {
  animation: blink 600ms linear -200ms infinite alternate;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #4a4a4a;
  border-radius: 10px;
}
.divvv {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: min-content;
}
.divv {
  height: 100%;
  position: relative;
  min-height: 180px;
  overflow-y: hidden;
  overflow-x: hidden;
}
.divv::after {
  content: '';
  background: #1a2a6c;
  width: 100%;
  height: 102%;
  position: absolute;
  top: -100%;
  transition: 300ms;
}
.divvv:hover .divv::after {
  top: 0;
  z-index: 40;
}
.divv::before {
  content: '';
  background-color: #000;
  width: 50px;
  height: 40px;
  z-index: 50;
  position: absolute;
  bottom: -10%;
  right: -15%;
  transform: rotate(135deg);
}

@media screen and (max-width: 799px) {
  .mobile-filter-btn {
    display: block;
  }

  .desktop-filters {
    display: none;
  }

  .mobile-filter-popup {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
    z-index: 50;
  }

  .hidden {
    display: none;
  }

  .visible {
    display: flex;
  }
}

@media screen and (min-width: 800px) {
  .scrolled .type {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    transition: 200ms;
    gap: 2rem;
    align-items: center;
    padding: 5px;
    animation: fadeIn 1s 1 forwards;
    font-size: 13px;
  }
  .scrolled .time {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 200ms;
    padding-right: 10px;
    gap: 2rem;
    animation: fadeIn 1s 1 forwards;
    font-size: 13px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
