@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Poppins', sans-serif;
}
body {
  font-family: 'Bebas Neue', serif;
  font-weight: 400;
  font-style: normal;
  background-position: fixed;
  background-attachment: fixed;
  background: #000000;
  --gap: 5em;
  --line: 1px;
  --color: rgba(255, 255, 255, 0.2);

  background-image: linear-gradient(
      -90deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    ),
    linear-gradient(
      0deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    );
  background-size: var(--gap) var(--gap);
}

.banner-img {
  mask-image: linear-gradient(to right, transparent, black 75%);
  --webkit-mask-image: linear-gradient(to right, transparent, black 75%);
}
.div::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width: 768px) {
  .div1::-webkit-scrollbar {
    display: none;
  }
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.spans span:nth-child(1) {
  animation: blink 600ms linear -600ms infinite alternate;
}
.spans span:nth-child(2) {
  animation: blink 600ms linear -400ms infinite alternate;
}
.spans span:nth-child(3) {
  animation: blink 600ms linear -200ms infinite alternate;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #4a4a4a;
  border-radius: 10px;
}
.divvv {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.divv {
  height: 100%;
  position: relative;
  min-height: 180px;
  overflow-y: hidden;
  overflow-x: hidden;
}
.divv::after {
  content: '';
  background: #1a2a6c;
  width: 100%;
  height: 102%;
  position: absolute;
  top: -100%;
  transition: 300ms;
}
.divvv:hover .divv::after {
  top: 0;
  z-index: 40;
}
.divv::before {
  content: '';
  background-color: #000;
  display: block;
  width: 45px;
  height: 45px;
  position: absolute;
  bottom: -15%;
  z-index: 50;
  right: -15%;
  transform: rotate(45deg);
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .mobile-filter-btn {
    display: block;
  }

  .desktop-filters {
    display: none;
  }

  .mobile-filter-popup {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
    z-index: 50;
  }

  .hidden {
    display: none;
  }

  .visible {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .scrolled .type {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    transition: 200ms;
    gap: 2rem;
    align-items: center;
    padding: 5px;
    animation: fadeIn 1s 1 forwards;
    font-size: 13px;
  }
  .scrolled .time {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 200ms;
    padding-right: 10px;
    gap: 2rem;
    animation: fadeIn 1s 1 forwards;
    font-size: 13px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.autoplay-progress {
  position: absolute;
  right: 7px;
  bottom: -5px;
  transform: scale(0.8);
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  opacity: 0.6;
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: white;
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}
.swiper-pagination-bullet {
  background-color: white !important;
  opacity: 0.7;
}
.swiper-pagination-bullet-active {
  background-color: white !important;
  opacity: 1;
}
.swiper-button-next::after {
  content: '›';
  transform: scale(1.3) !important;
  color: aliceblue !important;
}
.swiper-button-prev::after {
  content: '‹';
  transform: scale(1.3) !important;
  color: aliceblue !important;
}
@media not all and (min-width: 768px) {
  .swiper-button-next::after,
  .swiper-button-prev::after {
    content: '';
  }
}
.custom-shape-divider-top-1736542638 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 100;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1736542638 svg {
  position: relative;
  display: block;
  width: calc(115% + 1.3px);
  height: 152px;
}

.custom-shape-divider-top-1736542638 .shape-fill {
  fill: #000;
}
.custom-shape-divider-bottom-1736543087 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1736543087 svg {
  position: relative;
  display: block;
  width: calc(108% + 1.3px);
  height: 109px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1736543087 .shape-fill {
  fill: #000000;
}
/* Loader Animation */
.loader__ {
  width: 30px;
  height: 30px;
  border: 4px solid #ffffff;
  border-top: 4px solid transparent;
  border-radius: 99999px;
  margin: 0 auto;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
